/* General Styles */
body{
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
  text-align: center;
}

h1, label, input, .navbar-li, .user-name{
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.grid{
  display: grid;
  gap: 0.5rem;
}

.bordered{
  border: 0.125rem solid black;
}

.rounded{
  border-radius: 0.5rem;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* NavBar Styles */
.active{
  font-weight: bold;
}

nav{
  grid-template-columns: 1fr 4fr;
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-ul{
  font-size: large;
  margin-block: 0;
  text-align: end;
  padding-inline-start: 0;
  text-align: right;
}

.navbar-li{
  display: inline;
  list-style: none;
  margin-left: 1rem;
  cursor: pointer;
}

a, .navbar-li, .user-name{
  text-decoration: none;
  color: black;
}

.user-name{
  margin-block: 0;
  font-size: large;
  text-align: start;
  font-weight: bolder;
}

.nav-log-out{
  border: 0.125rem solid black;
  padding: 0.25rem 0.4rem;
}

/* Show Gods */
.god-list{
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 0 3rem 2rem;
}

.god-item{
  padding: 0.25rem 1.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-info{
  grid-template-columns: 2fr 2fr;
}

img{
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  border-radius: 0.75rem;
}

.god-info{
  grid-row: 1;
  grid-column: 2;
  padding-left: 1.5rem;
}

.label-god-info{
  font-weight: bolder;
}

.about-god-info{
  font-weight: bold;
  color: black;
  font-style: italic;
  text-decoration: underline;
}

/* God Profile */
.image-info-profile{
  margin-top: 3rem;
  grid-template-columns: 2fr 2fr 2fr 2fr;
}

.god-img-profile{
  grid-row: 1;
  grid-column: 2;
  width: 100%;
}

.god-info-profile{
  grid-row: 1;
  grid-column: 3;
  padding: 1.5rem;
  margin-left: 2rem;
}

.god-profile-delete{
  width: 100%;
}

/* Centered Form */
.form-section{
  grid-template-columns: repeat(3, 1fr);
}

.form-update{
  grid-template-columns: 1fr;
}

.form-container{
  grid-column: 2;
  margin-top: 2rem;
  padding: 2rem;
}

.form-title{
  margin-block: 0;
}

.btn{
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.filled-btn{
  color: white;
  background-color: black;
}

.filled-btn:hover{
  color: black;
  background-color: white;
}

.empty-btn{
  color: black;
  background-color: white;
}

.empty-btn:hover{
  color: white;
  background-color: black;
}

.label-field{
  margin-top: 0.5rem;
  font-weight: lighter;
  font-size: 0.9rem;
  font-style: italic;
}

.input-field{
  padding: 0.3rem 0.6rem;
  font-size: medium;
}

.input-field:focus{
  font-weight: bold;
}

.form-message{
  font-style: italic;
  margin-block: 0;
  margin-top: 2rem;
}

.form-link{
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  text-decoration: underline;
  margin-left: 0.2rem;
}

/* UserList */
.user-list{
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0 8rem;
}

.section-user{
  padding: 0.8rem 1rem;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
  gap: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-user{
  margin-block: 0;
  text-align: center;
  font-size: large;
  padding-top: 0.3rem;
}

.delete-user-btn{
  margin-top: 0;
}
